html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: #FBFBFB;
}

.heading-1 {
  font-family: 'Dancing Script', cursive;
  color: #70A37F;
  font-size: 32px;
  max-width: 480px;
  margin: 0 auto 20px auto;
  text-wrap: balance;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  /*animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1); */
}

.DialogContent:focus {
  outline: none;
}

.DialogContent h2 {
  margin: 0;
  padding: 0;
}

.add-a-spot-btn {
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
  position: fixed;
  bottom: 20px;
  left: 12px;
  right: 12px;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;

  width: 150px;
  height: 50px;
  background-color: #C9ADA7;
  color: #412C28;
  border-radius: 50%;
}

.add-a-spot-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px;
    border: 1px solid #412C28;
    border-radius: 50%;
    transform: rotate(-9.41deg);
}

.cafes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 60px;
}

.add-a-spot label,
.add-a-spot input,
.add-a-spot textarea,
.add-a-spot button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: block;
  font-size: 20px;
}

.add-a-spot input,
.add-a-spot textarea {
  width: 100%;
  font-size: 16px;
}

.add-a-spot label {
  margin-bottom: 12px;
}

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.add-a-spot input:focus,
.add-a-spot textarea:focus,
.add-a-spot button:focus {
  animation: glow 3s infinite;
}

.emoji {
  display: inline-block;
  font-size: 16px;
  vertical-align: baseline;
}

.cafe {
  background: #7F6C6B;
  border: 1px solid #7F6C6B;
  border-radius: 8px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cafe .edit-btn {
  color: #FBFBFB;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
}

.cafe h2 {
  font-family: 'Dancing Script', cursive;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background: #FBFBFB;
  font-weight: 700;
  color: #70A37F;
  font-size: 28px;
  margin: 0;
  padding: 12px 0;
}

.cafe .notes {
  display: flex;
  gap: 8px;
  flex-direction: row;
  padding: 0 20px;
}

.cafe .notes p {
  font-family: 'Libre Baskerville', serif;
  color: #FBFBFB;
  text-align: left;
  margin: 0;
  text-wrap: pretty;
}

.cafe .location-link {
  font-family: 'Libre Baskerville', serif;
  text-decoration: none;
  text-align: left;
  color: #79B473;
  padding: 0 20px 12px 20px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
  }
}
