html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  /*animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1); */
}

.DialogContent:focus {
  outline: none;
}

.add-a-spot-btn {
  font-size: 20px;
  margin-bottom: 12px;
}

.add-a-spot label,
.add-a-spot input,
.add-a-spot textarea,
.add-a-spot button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: block;
  font-size: 20px;
}

.add-a-spot input,
.add-a-spot textarea {
  width: 100%;
  font-size: 16px;
}

.add-a-spot label {
  margin-bottom: 12px;
}

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.add-a-spot input:focus,
.add-a-spot textarea:focus,
.add-a-spot button:focus {
  animation: glow 3s infinite;
}

.cafe {
  border: 1px solid #444;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
  }
}
